@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>
<h3>Adres</h3>

<address>
    Babeczkowa 15B, 01-320<br />
    Warszawa<br />
    <abbr title="Phone">Tel:</abbr>
    505 404 303
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:Support@example.com">Wsparcie@example.com</a><br />
    <strong>Sprzedaż:</strong> <a href="mailto:Marketing@example.com">Sprzedaż@example.com</a><br />
    <strong>Reklamacje:</strong> <a href="mailto:Marketing@example.com">Reklamacje@example.com</a>
</address>