@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <p>
            Cukiernia ZuckerBergi to miejsce w którym od 69 lat rozpieszczamy podniebienia, łączymy pokolenia i zabieramy w pasjonującą podróż do świata słodyczy.
            Najlepsi cukiernicy z całego świata w połączeniu ze starannie wyselekcjonowanymi składnikami sprawią, ze staniesz się ZuckerBergiem tak jak my!
            Uwaga! Nie odpowiadamy za uzależnienie od naszych słodkości.
            Dzięki generatorowi tortów możesz dobierać tak jak lubisz, to Ty wybierasz kształt, nadzienie oraz dekoracje! Ogranicza Cię tylko wyobraźnia.
        </p>
    </div>
</div>